@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Access Denied</h1>
    <p>You do not have permission to access this page.</p>
</div>
